.nunito-bold {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-bodytext {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.header {
  display: block;
  direction: rtl;
  margin: 3vw 4vw 3vw auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navp {
  margin: 2vh 2vw auto 1vw;
}
